.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.contents {
  height: 100%;
}

.shoppingCart {
  height: 100%;
  background-color: grey;
  display: flex;
  flex-direction: column;
}

.cartContents>ul>li {
  list-style: none;
}

.shoppingCart h3 {
  padding: 1rem;
  border-bottom: 3px solid black;

}

.shoppingCart>div {
  padding: 1rem;
}

.shoppingCart>div.shoppingCartControls {
  display: flex;
  flex-direction: row;
  padding: 1rem;

}

.shoppingCartControls>button {
  border-radius: 10px;
  padding: 0.5rem;
}

#checkoutButton {
  background-color: greenyellow;
}

#clearCartButton {
  background-color: lightcoral;
}

.main {
  height: 100%;
  width: 50%;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.topBar {
  background-color: gainsboro;
  width: 100%;
  padding: 1rem;
}

.topBar button {
  background-color: sandybrown;
  transform: rotate(90deg);
  float: right;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bolder;
}

.topBar button:hover {
  cursor: pointer;
}